html {
  font-size: 62.5%;
}

body {
  font-size: 1.5em;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 3.2rem;
  background: #2b2d32;
  color: #E7E9EC;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  text-align: center;
}

.progress {
  margin: 0 auto 1.6rem;
  width: 80%;
}

.progress.red {
  --ys-accent: #d50000;
}

.progress.green {
  --ys-accent: #00C853;
}
